.navbar a {
  text-transform: uppercase;
}

.navbar-brand span {
  color: #E91B23;
}

.navbar-default {
  background-color: #262626;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.background {
  background-image: url(banner.jpg);
  height: 400px;
}

.uppercase {
  text-transform: uppercase;
  color: white;
}

.color {
  color: white;
}

.thumbnail {
  margin-top: 20px;
  border: none;

}

.glyphicon-search, .glyphicon-phone, .glyphicon-text-size, .glyphicon-briefcase {
  font-size: 50px;
}

.backgroundb {
  background-color: #F9F8F8;
}

.marinnegat {
  margin-top: -50px;
}

.thumbnail1 {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  margin-bottom: 60px;
}

.thumbnail1 img {
  width: 8em;
  height: 8em;
}

.client {
  margin-bottom: 100px;
}

.backgroundc {
  background-color: #1D2123;
  margin-top: 80px;
}

.thumbnail5 {
  margin-top: 10px;
}

.thumbnail5 img {
  margin-top: 10px;
}

.none {
  border: none;
  border-bottom: none;
  background-color: #1D2123;
}

.list-group-item a:hover {
  color: white;
  transition: all 0.7s;
}

.glyphicon-earphone, .glyphicon-envelope {
  font-size: 20px;
}

.btn-default {
  margin-top: 5px;
  margin-left: 5px;
}

.backgroundd {
  background-color: #2F373B;
}

.margin {
  margin-left: 300px;
}

.backgrounda {
  background-color: #2F373B;
}

.fa {
  color: white;
}
